/*-----Global Styles-----*/

* {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.banner,
.wrapper {
    margin: 0 auto;
    width: 70%;
}

/*-----Buttons-----*/

button {
    background-color: #ef5f60;
    border: none;
    color: #fff;
    text-transform: uppercase;
}

.works button {
    font-size: 14.29px;
    float: right;
    height: 42px;
    margin-bottom: 15px;
    margin-right: 1.5%;
    width: 123px;    
}

.contact button {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    text-align: center;    
}

.contact button:hover,
.works button:hover {
    background-color: #ba4c4d;
}

/*-----Navigation-----*/

nav {
    height: 205px;
    margin: 0 auto;
    width: 70%;    
}

.logo {
    float: left;
    padding: 50px 0;
}

.nav-links a {
    color: #4d4d4d;
    text-decoration: none;
}

.nav-links a:hover {
    color: #F06167;
}

.nav-links ul {
    float: right;
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    font-weight: 700;
    padding: 50px 20px;
    text-transform: uppercase;
}

/*-----Header-----*/

header {
    background-color: #f1f4f5;
    height: 205px;
}

header h1 {
    color: #4d4d4d;
    padding-top: 2em;
    text-transform: uppercase;
}

header p {
    color: #808080;
    padding-top: 10px;
}

/*-----Works Section-----*/

.works {
    padding-top: 80px;
}

.works h3 {
    float: left;
    margin-left: 1%;
    text-transform: uppercase;
}

.works-img {
    clear: both;
    width: 100%;
}

.works-img img {
    width: 100%;
}

.works-img div {
    display: inline-block;
    margin: 1%;
    width: 31%;
}

.contact h2 {
    font-weight: 300;
    text-align: center;
    padding: 60px 0 20px 0;
    text-transform: uppercase;
}

/*-----What We Do Section-----*/

.what-we-do h3 {
    padding: 60px 0 30px 0;
    text-transform: uppercase;
}

.what-we-do img {
    max-height: 47px;
}

.services {
    padding-top: 30px;
}

.services div {
    display: inline-block;
    margin: 0 2%; 
    text-align: center;
    vertical-align: top;
    width: 20%;
}

/*-----Journal Section-----*/

.journal h3 {
    padding: 60px 0 30px 0;
    text-transform: uppercase;
}

.journal {
    padding-bottom: 80px;
}

.journal ul {
    display: inline;
    list-style: none;
}

.col {
    float: left;
    padding-top: 30px;
    width: 50%;
 }

.journal:after {
    content: "";
    clear: both;
    display: block;
}

.journalimg {
    float: left;
    width: 30%;
}

.journalimg img {
    max-height: 180px;
    width: 100%;
}

.journal-col {
    float: right;
    width: 60%;
}

.col h3,
.col h4 {
    padding: 0 0 10px 0 !important;
    text-transform: uppercase;
}

.col h4 {
    color: #c3c3c3;
}

/*-----Footer-----*/

footer {
    background-color: #2d2d30;
    clear: both;
    color: #fff;
    height: 205px;
    padding-bottom: 30px;
    padding-top: 60px;
    text-align: center;
    
}

footer p {
    margin-bottom: 20px;
}

footer a:hover {
    opacity: 0.7;
}

/*-----Media Queries-----*/

@media screen and (max-width: 1024px) {
  
    nav {
        height: 150px;
        margin: 0 auto;
        width: 80%;
    }
    
    nav .logo {
        display: block;
        float: none;
        margin: auto;
        padding: 15px 0 0;
    }
    
    .nav-links ul {
        clear: both;
        float: none;
        text-align: center;
    }
    
    .nav-links ul li {
        padding: 50px 20px 0;
    }
    
    .nav-links ul li img {
        height: 25px;
        padding-top: 5px;
    }
    
    header h1 {
        font-size: 30px;
        padding-top: 1.5em;
        text-align: center;
    }
    
    header p {
        text-align: center;
    }

    .wrapper {
        width: 90%;
    }
    
    .works button {
        margin-bottom: 15px;
    }
    
    .services div {
        margin: 0 1%; 
        width: 22%;
    }
    
    .col {
        margin: 0 10%;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    
    nav {
        margin: 0 auto;
        width: 100%;
    }
    
    header h1 {
        padding-top: 1em;
    }
    
    .services div {
        margin: 25px 2%; 
        width: 45%;
    }
    
    .what-we-do h3:first-child {
        padding: 60px 0 30px 0;
    }
    
    .what-we-do h3 {
        padding: 20px 0 20px 0;
    }
}

@media screen and (max-width: 675px) {
    
    .works-img div {
        margin: 1% 1%;
        width: 47.5%;
    }
    
    .nav-links ul {
        float: none;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 99999;
    }
    
    .nav-links ul.open {
        height: auto;
    }
    
    #mobile-nav {
        background: url('../img/burger-menu-icon.png') no-repeat center;
        height: 40px;
        width: 100%;
    }
    
    .nav-links a {
        color: #fff; 
    }

    .nav-links ul li {
        background-color: #4d4d4d;
        border-top: 1px solid #fff;
        display: block;
        float: none;
        padding: 10px 0;
        width: 100%;
    }
    
}

@media screen and (max-width: 480px) {
    .works {
        padding-top: 60px;
    }
    
    .works-img div {
        margin: 10px 15%;
        width: 70%;
    }
    
    .works h3 {
        float: none;
        text-align: center;
    }

    .works button {
        display: block;
        float: none;
        margin: 20px auto;
    }
 
    .services div {
        margin: 20px 15%; 
        width: 70%;
    }
}